/* Crop Prediction Form Styling */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kode+Mono:wght@400..700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kode+Mono:wght@400..700&family=Roboto:wght@400;500&display=swap');
.form-container {
 /* border:2px solid pink */
 display: flex;
 align-items: stretch;
 flex-direction: row;
 /* border: 3px lime solid ; */
 width: 100%;
 /* background-color: #c8591d8e; */
}
img{
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.fromForCrop{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 50px ;

    flex-flow: row;
     gap:20px;
    flex-wrap: wrap;
     
    
    /* border: 2px solid sandybrown; */
    
    transition: all 0.3s;
}
.fromForCrop .field{
    /* flex: 1 2 30%; Adjusts width to 45% for two columns, with some spacing */
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    min-width: 200px
}
.fromForCrop .field label{
    margin-bottom: 5px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.612);
    
    /* font-weight: bolder; */
}
.fromForCrop .field input{
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 20px ;
    border: none;
    transition: all 0.3s;
}
.fromForCrop .field input:focus{
/* border-bottom: black 3px solid ; */
box-shadow: 4px 4px 5px rgb(0, 0, 0,0.3);
background-color: #c8591d;
color: white;
}

/* From Uiverse.io by satyamchaudharydev */ 
/* inspired form gumroad website */
.submit-btn {
    /* align-self: flex-end; */
    /* justify-content: center; */
    --bg: #000;
    --hover-bg: #ffb590;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding:10px 15px 10px 15px  ;
    transform: translate(3px,12px);
    background: var(--bg);
    transition: 0.2s;
    /* margin-left:10% ; */
    width: 50%;
    height: 45px;
 
  }
  
  .submit-btn:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .submit-btn:active {
    transform: translate(0);
    box-shadow: none;
  }
  
  .resultContainer{
text-align: center;
/* border: 2px solid red; */
/* text-overflow: clip; */

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



  }


.result{
    border: 2px solid rgb(196, 89, 28);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    font-size: 20px;
    text-overflow: clip;
    box-shadow: 0px 0px 7px rgb(196, 89, 28,0.5);
}
 