/* Footer.css */

.footer {
    background-color: #c95107;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  .footer .links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  
  .footer .links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer .links a:hover {
    color: #ffcc00;
  }
  
  .footer p {
    font-size: 0.9em;
    margin: 0;
  }

.links img{
    width: 50px;
}